.recipe {
    background-color: #fff;
    margin: 50px auto;
    max-width: 45%;
    min-height: 300px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    padding: 20px 20px 40px;
    color: #333;
    display: grid;
    grid-template-columns: 5% [main-start] repeat(3, [col-start] 1fr [col-end]) [main-end] 5%;
    align-items: center;
    row-gap: 20px;
    position: relative;

    &__title {
        grid-column: main-start / span 2;
        margin-top: 10px;
        position: relative;
        display: inline-block;
        z-index: 0;
        border-bottom: 5px solid #4297a0;
        padding-bottom: 5px;
    }

    &__time {
        grid-column: 4 / main-end;
        justify-self: end;
        opacity: 0.5;
    }

    &__items {
        grid-column: 2 / 3;
        list-style-type: circle;
    }

    &__method {
        grid-column: main-start / main-end;
        align-self: center;
        line-height: 1.3;
        font-size: 20px;
        text-align: justify;
        margin-bottom: 20px;
    }

    &__icons {
        display: flex;
        gap: 15px;
        position: absolute;
        bottom: 20px;
        right: 20px;

        &--delete,
        &--edit {
            filter: invert(70%);
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.1);
                filter: invert(40%);
            }
        }
    }

    //dark mode
    &.dark {
        background-color: #555;
        color: #fff;
    }
}
