.navbar {
    background: #4297a0;
    padding: 20px;
    color: #fff;

    & nav {
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
    }

    &__brand {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
    }

    & a:last-child {
        color: #fff;
        font-size: 0.7em;
        text-decoration: none;
        margin-left: 30px;
        padding: 6px 10px;
        border: 1px solid #fff;
        border-radius: 4px;
        transition: all 0.2s;

        &:hover {
            background-color: #fff;
            color: #333;
        }

        //dark mode
        &.dark {
            color: #333;
            border: 1px solid #333;

            &:hover {
                background-color: #555;
                color: #fff;
            }
        }
    }

    //darkmode
    &.dark a {
        color: #333;
    }
}
