.update {
    width: 40%;
    margin: 0 auto;
    padding: 20px 0 100px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & input,
        textarea {
            margin-top: 5px;
        }

        &.dark input,
        textarea {
            background-color: #555;
            color: #fff;
        }
    }

    &__ingredients {
        display: flex;
        align-items: center;
        gap: 10px;

        &--btn {
            border: none;
            font-size: 20px;
            color: #fff;
            padding: 4px 10px;
            border-radius: 20px;
            background-color: #64ccc5;
            cursor: pointer;
            text-decoration: none;
        }

        &--item {
            padding-top: 15px;
            font-size: 15px;

            &.dark {
                color: #fff;
            }
        }
    }

    &__method {
        font-family: inherit;
        font-size: 0.7em;
    }

    &__btn {
        display: block;
        border: none;
        font-size: 0.8em;
        color: #fff;
        padding: 8px 20px;
        border-radius: 4px;
        background-color: #64ccc5;
        cursor: pointer;
        text-decoration: none;
        margin: 10px auto;
    }
}
